<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'add_dish' %}">Add Dish</a>
<a href="{% url 'delete_dish' %}">Delete Dish</a>
<a href="{% url 'display_dishes' %}">Display</a>
<a href="{% url 'update_dishes' %}">Update</a>
<a href="{% url 'take_order' %}">Take Order</a>
<a href="{% url 'display_orders' %}">Take Order</a>

<h1>Add Dish to Menu</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Dish</button>
</form>

</body>
</html>