<!DOCTYPE html>
<html>
<head>
    <title>Delete Dish</title>
</head>
<body>
<a href="{% url 'add_dish' %}">Add Dish</a>
<a href="{% url 'delete_dish' %}">Delete Dish</a>
<a href="{% url 'display_dishes' %}">Display</a>
<a href="{% url 'update_dishes' %}">Update</a>
<a href="{% url 'take_order' %}">Take Order</a>
<a href="{% url 'display_orders' %}">Take Order</a>
<h1>Delete Dish</h1>
<form method="post">
    {% csrf_token %}
    <label for="dish_id">Select Dish ID:</label>
    <select id="dish_id" name="dish_id">
        {% for dish_id in dish_ids %}
        <option value="{{ dish_id }}">{{ dish_id }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Delete">
</form>
</body>
</html>