@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', Arial, sans-serif; /* Use Comfortaa font */
    margin: 0;
    padding: 0;
    background-image: url("top-view-food-frame-with-copy-space.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Add transition for color and background-color */
    display: inline-block;
    padding: 10px 20px; /* Add padding for the box area */
}

.navbar a:hover {
    color: blue;
    background-color: rgba(255, 255, 255, 0.2); /* Add a background color on hover */
}

/* Style for the table */
table {
margin:auto
    border-collapse: collapse;
    width: 80%;

}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 8px;
    color:white;
    text-align: left;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto
    height:100vh;
}

/* Style for the form select and button */
form select, form button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    cursor: pointer;
    color: blue;
}
